

<h1> Convert <%=@from_currency%> to <%=@to_currency%>  </h1>
<p>

1 <%=@from_currency %> equals <%= @parsed_data.fetch("result")%> <%=@to_currency%> .


Go <a href="/forex/<%=@from_currency%>"> back </a>.
</p>